* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background-body-body);
}

:root {
  /* colors */
  --color-blue-100: #bebed6;
  --color-blue-200: #1f1f6d;
  --color-blue-300: #0c0c2c;
  --color-blue-400: #020226;
  --color-gray-100: #cacdd5;
  --color-gray-20: #ffffff;
  --color-gray-200: #a3a6b4;
  --color-gray-300: #70727e;
  --color-gray-400: #1c1e23;
  --color-gray-50: #f3f3f3;
  --color-red-100: #f481a6;
  --color-red-200: #fe417d;
  --color-red-300: #ff1054;
  --color-red-400: #8c0000;
  /* numbers */
  --spacing-xxxsmall: 0.5rem;
  --spacing-xxsmall: 0.75rem;
  --spacing-xsmall: 1.25rem;
  --spacing-small: 1.8125rem;
  --spacing-medium: 2.5rem;
  --spacing-large: 3.75rem;
  --spacing-xlarge: 6rem;
  --spacing-xxlarge: 8.125rem;
}

:root {
  /* colors */
  --color-background-body-body: var(--color-blue-300);
  --color-background-bokse-bokse: var(--color-red-300);
  --color-background-footer-footer: var(--color-blue-400);
  --color-background-primarybutton-default: var(--color-red-300);
  --color-background-primarybutton-hover: var(--color-gray-20);
  --color-logo-logo: var(--color-red-300);
  --color-text-footer-footer: var(--color-gray-20);
  --color-text-heading-heading: var(--color-gray-20);
  --color-text-linkbutton-default: var(--color-gray-20);
  --color-text-linkbutton-hover: var(--color-red-300);
  --color-text-p-p: var(--color-blue-100);
  --color-text-primarybutton-default: var(--color-gray-20);
  --color-text-primarybutton-hover: var(--color-red-300);
  --color-text-secondarybutton-default: var(--color-red-300);
  --color-text-secondarybutton-hover: var(--color-gray-20);
  /* numbers */
  --spacing-gap-gap: var(--spacing-medium);
  --spacing-horisontal-button: var(--spacing-xsmall);
  --spacing-vertical-xsmall: var(--spacing-xsmall);
  --spacing-vertical-large: var(--spacing-large);
  --spacing-vertical-xxlarge: var(--spacing-xxlarge);
}

@font-face {
  font-family: "Campton-Bold";
  src: url(../fonte/CamptonBold.otf);
}

@font-face {
  font-family: "Campton-SemiBold";
  src: url(../fonte/CamptonSemiBold.otf);
}

@font-face {
  font-family: "Rubik";
  src: url(../fonte/Rubik-VariableFont_wght.ttf);
}

/* desktop */
@media (min-width: 700px) {
  /*a=buttontext*/
  a {
    font-size: 1.5rem;
    font-family: "Campton-Bold";
    line-height: 1.7rem;
  }
  h1 {
    font-size: 3.75rem;
    font-family: "Campton-Bold";
    line-height: 4.3rem;
    color: var(--color-text-heading-heading);
  }
  h2 {
    font-size: 3.1rem;
    font-family: "Campton-Semibold";
    line-height: 3.2rem;
    color: var(--color-text-heading-heading);
  }
  h3 {
    font-size: 2rem;
    font-family: "Campton-Semibold";
    line-height: 2.3rem;
    color: var(--color-text-heading-heading);
  }
  /*h4=largetext*/
  h4 {
    font-family: "Rubik";
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--color-text-heading-heading);
  }

  p {
    font-family: "Rubik";
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--color-text-p-p);
  }
}

/* mobile */
@media (max-width: 600px) {
  /*a=smalltext*/
  a {
    font-size: 1rem;
    font-family: "Campton-Bold";
    line-height: 1.4rem;
  }

  h1 {
    font-size: 2.5rem;
    font-family: "Campton-Bold";
    line-height: 2.9rem;
    color: var(--color-text-heading-heading);
  }
  h2 {
    font-size: 1.8rem;
    font-family: "Campton-Semibold";
    line-height: 2.1rem;
    color: var(--color-text-heading-heading);
  }
  h3 {
    font-size: 1.5rem;
    font-family: "Campton-Semibold";
    line-height: 1.4rem;
    color: var(--color-text-heading-heading);
  }
  /*h4=largetext*/
  h4 {
    font-family: "Rubik";
    font-size: 1.1rem;
    line-height: 2rem;
    color: var(--color-text-heading-heading);
  }
  p {
    font-family: "Rubik";
    font-size: 1rem;
    line-height: 1.8rem;
    color: var(--color-text-p-p);
  }
}
