---
import "../styles/global.css";
import Faktaboks from "../components/Faktaboks.astro";
import Primarybutton from "../components/Primarybutton.astro";
import Secondarybutton from "../components/Secondarybutton.astro";
import Footer from "../components/Footer.astro";
import Heroabout from "../components/Heroabout.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat&family=Montserrat+Alternates&family=Rubik:wght@400;500&display=swap" rel="stylesheet" />
    <title>about</title>
  </head>
  <body>
    <Heroabout />
    <section class="section1">
      <div class="center-wrapper">
        <h2 class="tekstanimation">Hvem er vi?</h2>
      </div>
      <p>Plastic Change er en dansk miljøorganisation, der arbejder både i Danmark og internationalt på at gøre opmærksom på konsekvenserne af de voksende mængder plastik i havene og miljøet.</p>
      <p>Plastic Change blev stiftet i foråret 2014 af miljøbiolog og miljøforkæmper Henrik Beha Pedersen, der i dag er bestyrelsesformand.</p>
      <p>Vi arbejder for at knække den stigende kurve for plastikforurening og plastikproduktion. Derfor fokuserer vi på, at vi skal reducere vores forbrug af især engangsplastik og anvende plastik smartere.</p>
    </section>
    <section class="section2">
      <div class="center-wrapper">
        <h2 class="tekstanimation2">Hvordan arbejder vi?</h2>
      </div>
      <div class="faktaboks">
        <Faktaboks img="/assets/images/billede_faktaboks1.webp" alt="demonstrationskilt" text="Vi arbejder for politisk og grøn lovgivning" href="https://plasticchange.dk/politisk-arbejde/" />
        <Faktaboks img="/assets/images/billede_faktaboks2.webp" alt="Carlsberg øl" text="Vi samarbejder med virksomheder om en bæredygtig fremtid " href="https://plasticchange.dk/virksomheder/" />
        <Faktaboks img="/assets/images/billede_faktaboks3.webp" alt="" text="Vi afholder events og workshops for at indrage folk i vores arbejde" href="https://plasticchange.dk/world-cleanup-day/" />
        <Faktaboks img="/assets/images/billede_faktaboks4.webp" alt="" text="Vi underviser for at vise vejen for den kommende generation" href="https://plasticchange.dk/undervisning/" />
      </div>
    </section>
    <div class="center-wrapper">
      <section class="container2">
        <Secondarybutton href="https://plasticchange.dk/medarbejdere/" text="Mød vores team" />
        <Primarybutton href="/" text="Skriv under" />
      </section>
    </div>
    <Footer />
  </body>
</html>

<style>
  p {
    padding-top: var(--spacing-vertical-xsmall);
    margin: auto;
  }

  h2 {
    padding-bottom: var(--spacing-vertical-large);
    text-align: center;
  }
  .section1 {
    justify-content: center;
    padding-block: var(--spacing-vertical-large);
  }
  .faktaboks {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-xsmall);
    justify-content: center;
    padding-bottom: var(--spacing-vertical-large);
  }
  .center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container2 {
    text-align: center;
  }

  @media (max-width: 700px) {
    p {
      max-width: 80%;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".tekstanimation2", {
    xPercent: -50,
    opacity: 3,
    duration: 1,
    stagger: 0.5,
    scrollTrigger: {
      trigger: ".tekstanimation2",
      start: "start 110%",
      end: "bottom 10%",
      scrub: true,
      //markers: true,
    },
  });
</script>
