---
import "../styles/global.css";
import Heroindex from "../components/Heroindex.astro";
import Faktaboksrund from "../components/Faktaboksrund.astro";
import Footer from "../components/Footer.astro";
import Secondarybutton from "../components/Secondarybutton.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Heroindex />
    <section class="section1">
      <Faktaboksrund text="Sikre et loft over den globale plastikproduktion" />
      <Faktaboksrund text="Sikre en bæredygtig produktion og cirkularitet" />
      <Faktaboksrund text="Sikre en retfærdig grøn omstilling, der mindsker ulighed mellem lande" />
      <Faktaboksrund text="Er juridisk bindende for alle lande" />
    </section>
    <Secondarybutton text="det virker sku" />
    <Footer />

    <style>
      .section1 {
        display: flex;
        gap: var(--spacing-gap-gap);
        justify-content: center;
        flex-wrap: wrap;
        padding-top: var(--spacing-vertical-large);
        padding-bottom: var(--spacing-vertical-xxlarge);
      }
    </style>
  </body>
</html>
