---
import "../styles/global.css";
import Heroindex from "../components/Heroindex.astro";
import Faktaboksrund from "../components/Faktaboksrund.astro";
import Footer from "../components/Footer.astro";
import Secondarybutton from "../components/Secondarybutton.astro";
import Primarybutton from "../components/Primarybutton.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Heroindex />
    <section>
      <h2>Vi arbejder konkret for, at traktaten:</h2>
      <div class="section1_faktaboks">
        <Faktaboksrund text="Sikre et loft over den globale plastikproduktion" />
        <Faktaboksrund text="Sikre en bæredygtig produktion og cirkularitet" />
        <Faktaboksrund text="Sikre en retfærdig grøn omstilling, der mindsker ulighed mellem lande" />
        <Faktaboksrund text="Er juridisk bindende for alle lande" />
      </div>
    </section>
    <section class="container1">
      <h3>Plastik produktionen har en firedobbelt stigning de næste 20-30 år. Det betyder at der vil være en tredobling af plastikforurening i 2050.</h3>
    </section>
    <div class="center-wrapper">
      <div class="gridcontainer">
        <h3 class="overskrift1">2020</h3>
        <h3 class="overskrift2">2050</h3>
        <img class="lidtflasker" src="/assets/images/lidtflasker.png" alt="" />
        <img class="mangeflasker" src="/assets/images/mangeflasker.png" alt="" />
      </div>
    </div>
    <div class="center-wrapper">
      <section class="container2">
        <Secondarybutton text="Læs mere" />
        <Primarybutton text="Skriv under" />
      </section>
    </div>
    <Footer />
  </body>
</html>

<style>
  .section1_faktaboks {
    display: flex;
    gap: var(--spacing-gap-gap);
    justify-content: center;
    flex-wrap: wrap;
    padding-top: var(--spacing-vertical-large);
    padding-bottom: var(--spacing-vertical-xxlarge);
  }
  h2 {
    padding-top: var(--spacing-vertical-xxlarge);
    text-align: center;
  }
  h3 {
    max-width: 58%;
    padding-bottom: var(--spacing-vertical-large);
  }

  .container1 {
    display: flex;
    justify-content: center;
  }
  .container2 {
    text-align: center;
  }
  .gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .overskrift1,
  .overskrift2 {
    text-align: center;
    color: var(--color-red-300);
  }

  .center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
