---
import "../styles/global.css";
import Heroindex from "../components/Heroindex.astro";
import Faktaboksrund from "../components/Faktaboksrund.astro";
import Footer from "../components/Footer.astro";
import Secondarybutton from "../components/Secondarybutton.astro";
import Primarybutton from "../components/Primarybutton.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Heroindex />
    <section>
      <h2 class="tekstanimation">Vi arbejder konkret for, at traktaten:</h2>
      <div class="section1_faktaboks">
        <Faktaboksrund text="Sikre et loft over den globale plastikproduktion" />
        <Faktaboksrund text="Sikre en bæredygtig produktion og cirkularitet" />
        <Faktaboksrund text="Sikre en retfærdig grøn omstilling, der mindsker ulighed mellem lande" />
        <Faktaboksrund text="Er juridisk bindende for alle lande" />
      </div>
    </section>
    <section class="container1">
      <h3>Plastik produktionen har en firedobbelt stigning de næste 20-30 år. Det betyder at der vil være en tredobling af plastikforurening i 2050.</h3>
    </section>
    <div class="center-wrapper">
      <div class="gridcontainer">
        <h3 class="overskrift1">2020</h3>
        <h3 class="overskrift2">2050</h3>
        <img class="lidtflasker" src="/assets/images/lidtflasker.png" alt="" />
        <img class="mangeflasker" src="/assets/images/mangeflasker.png" alt="" />
      </div>
    </div>
    <div class="center-wrapper">
      <section class="container2">
        <Secondarybutton href="/infosite" text="Læs om kampagnen" />
        <Primarybutton href="/" text="Skriv under" />
      </section>
    </div>
    <Footer />
  </body>
</html>

<style>
  .overskrift1,
  .overskrift2 {
    text-align: center;
    color: var(--color-red-300);
  }

  /*web*/
  @media (min-width: 700px) {
    .section1_faktaboks {
      display: flex;
      gap: var(--spacing-gap-gap);
      justify-content: center;
      flex-wrap: wrap;
      padding-top: var(--spacing-vertical-large);
      padding-bottom: var(--spacing-vertical-xxlarge);
    }
    h2 {
      padding-top: var(--spacing-vertical-xxlarge);
      text-align: center;
    }
    h3 {
      padding-bottom: var(--spacing-vertical-large);
    }

    .container1 {
      display: flex;
      justify-content: center;
    }
    .container2 {
      text-align: center;
      padding-top: var(--spacing-vertical-large);
    }
    .gridcontainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .center-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  /*mobile*/
  @media (max-width: 700px) {
    .gridcontainer {
      grid-template-columns: 1fr;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h3 {
      padding-bottom: var(--spacing-vertical-large);
    }
    h2 {
      padding-top: var(--spacing-vertical-xxlarge);
      text-align: center;
    }

    .section1_faktaboks {
      display: grid;
      gap: var(--spacing-gap-gap);
      justify-content: center;
      padding-top: var(--spacing-vertical-large);
      padding-bottom: var(--spacing-vertical-xxlarge);
    }

    .overskrift1,
    .overskrift2 {
      text-align: center;
      color: var(--color-red-300);
      order: 0;
    }
    .container1 {
      display: flex;
      justify-content: center;
    }
    .container2 {
      text-align: center;
      padding-top: var(--spacing-vertical-large);
    }

    .overskrift1 {
      order: 0;
    }

    .lidtflasker {
      order: 1;
      padding-bottom: var(--spacing-vertical-large);
    }

    .overskrift2 {
      order: 2;
    }

    .mangeflasker {
      order: 3;
    }

    .mangeflasker {
      width: 50%;
    }
    .lidtflasker {
      width: 30%;
    }

    .center-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.matchMedia().add("(prefers-reduced-motion: no-preference)", () => {
    gsap.from(".section1_faktaboks", {
      scrollTrigger: {
        trigger: ".section1_faktaboks",
        start: "start 100%",
        end: "bottom top",
        scrub: true,
      },
      opacity: 0,
      duration: 3,
    });

    gsap.to(".section1_faktaboks", {
      scrollTrigger: {
        trigger: ".section1_faktaboks",
        start: "start top",
        end: "start top",
        scrub: true,
      },
      opacity: 100,
      duration: 3,
    });
  });

  gsap.from(".tekstanimation", {
    xPercent: -50,
    opacity: 3,
    duration: 1,
    stagger: 0.5,
    scrollTrigger: {
      trigger: ".tekstanimation",
      start: "start 110%",
      end: "bottom 10%",
      scrub: true,
      //markers: true,
    },
  });
</script>
