---
import "../styles/global.css";
import HeroInfo from "../components/HeroInfo.astro";
import Primarybutton from "../components/Primarybutton.astro";
import Talboks from "../components/Talboks.astro";
import Secondarybutton from "../components/Secondarybutton.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat&family=Montserrat+Alternates&family=Rubik:wght@400;500&display=swap" rel="stylesheet" />
    <title>Astro</title>
  </head>
  <body>
    <HeroInfo />
    <div class="center-wrapper">
      <section class="section1">
        <div class="overskrift-center">
          <h2>Vi er den eneste danske NGO, der kæmper for en global plastiktraktat</h2>
        </div>
        <p>
          …men vi er heldigvis ikke alene om at kræve den mest ambitiøse traktat. Vi har mere end 2.700 organisationer fra hele verden i ryggen, og har allieret os med forskere og videnskabsfolk, der arbejder for et loft over plastikproduktionen.
        </p>
      </section>
    </div>
    <div class="center-wrapper">
      <Primarybutton href="/" text="Skriv under" />
    </div>
    <div class="center-wrapper">
      <h2>Hvor ender plastemballagen?</h2>
    </div>
    <div class="center-wrapper">
      <img class="diagram" src="/assets/images/diagram2.png" alt="" />
    </div>
    <div class="center-wrapper">
      <h2>DU skal skrive under fordi:</h2>
    </div>
    <section class="container2">
      <img class="plastikaffaldsvg" src="assets/images/plastikaffald.svg" alt="" />
      <div class="talboks1">
        <Talboks text="1" text2="I 2050 er der med den nuværende udvikling forventligt mere plastik i havene end der er fisk. " />
      </div>
      <div class="talboks2">
        <Talboks text="2" text2="Årligt udledes 8-15 millioner tons plastik til verdenshavene. Det svarer til en lastbil i minuttet og forventes fordoblet i 2025." />
      </div>
      <div class="talboks3">
        <Talboks text="3" text2="Genanvender vi 1 kg plastik, kommer der ca. 2,2 kg CO2  mindre ud i atmosfæren." />
      </div>
    </section>
    <div class="tekstboks">
      <p>Næppe overraskende arbejder olie,- petrokemikalie,- og plastikindustrien imod sådan et loft. De siger, at det ikke er nødvendigt, og de mener, at vi kan genanvende os ud af problemerne med plastik.</p>
    </div>
    <div class="center-wrapper">
      <h3>I 2050 er der med den nuværende udvikling forventligt mere plastik i havene end der er fisk.</h3>
    </div>
    <div class="center-wrapper">
      <img class="fisk" src="assets/images/fisk.png" alt="" />
    </div>
    <div class="tesktsboks">
      <p>
        Det blev vedtaget, at traktaten skal dække hele plastikkens livscyklus, det vil sige ikke kun den plastik, der allerede er endt som forurening, men også al den nye plastik, der bliver produceret. Dette er helt afgørende for at stoppe
        forureningen.
      </p>
    </div>
    <div class="tesktsboks">
      <p>Over de næste to år skal verdens lande mødes og blive enige om traktatens konkrete indhold, før den endelig skal udformes til UNEA 6.0 i 2024.</p>
    </div>
    <div class="sidsteboks">
      <h3>Kampen er derfor langt fra slut – din underskrift får stor betydning</h3>
    </div>
    <div class="center-wrapper">
      <section class="container3">
        <Secondarybutton href="/about" text="Om Plastic Change" />
        <Primarybutton href="/" text="Skriv under" />
      </section>
    </div>
    <Footer />
  </body>
</html>

<style>
  .pose1 {
    width: 97.186px;
    height: 125.778px;
    flex-shrink: 0;
  }
  p {
    padding-top: var(--spacing-vertical-xsmall);
    max-width: 60%;
    margin: auto;
  }

  h2 {
    padding-bottom: var(--spacing-vertical-large);
    padding-top: var(--spacing-vertical-xxlarge);
    max-width: 60%;
  }

  h3 {
    padding-bottom: var(--spacing-vertical-large);
    text-align: center;
    max-width: 60%;
  }

  .overskrift-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section1 p {
    padding-bottom: var(--spacing-vertical-large);
  }

  .center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .diagram {
    width: 40%;
  }

  .container2 {
    position: relative;
    width: 100%;
  }

  .plastikaffaldsvg {
    width: 100%;
    height: auto;
    display: block;
  }

  .talboks1,
  .talboks2,
  .talboks3 {
    position: absolute;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
  }

  .talboks1 {
  }

  .talboks2 {
  }

  .talboks3 {
  }

  .tekstboks {
    padding-top: var(--spacing-vertical-large);
    padding-bottom: var(--spacing-vertical-xxlarge);
  }

  .sidsteboks {
    padding-top: var(--spacing-vertical-large);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 700px) {
    .diagram {
      width: 80%;
    }

    h2 {
      max-width: 80%;
    }

    h3 {
      max-width: 80%;
    }

    p {
      max-width: 80%;
    }

    .fisk {
      width: 100%;
    }
    .talboks1 {
      top: 0px;
      padding-left: 280px;
    }

    .talboks2 {
      top: 200px;
      padding-left: 10px;
    }

    .talboks3 {
      bottom: 90px;
      padding-left: 280px;
    }
    .plastikaffaldsvg {
      width: 90%;
    }
  }
</style>
