---
import "../styles/global.css";
import HeroInfo from "../components/HeroInfo.astro";
import Primarybutton from "../components/Primarybutton.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat&family=Montserrat+Alternates&family=Rubik:wght@400;500&display=swap" rel="stylesheet" />
    <title>Astro</title>
  </head>
  <body>
    <HeroInfo />
    <div class="center-wrapper">
      <section class="section1">
        <h2>Vi er den eneste danske NGO, der kæmper for en global plastiktraktat</h2>
        <p>
          …men vi er heldigvis ikke alene om at kræve den mest ambitiøse traktat. Vi har mere end 2.700 organisationer fra hele verden i ryggen, og har allieret os med forskere og videnskabsfolk, der arbejder for et loft over plastikproduktionen.
        </p>
      </section>
    </div>
    <div class="center-wrapper">
      <Primarybutton text="Skriv under" />
    </div>
    <div class="center-wrapper">
      <h2>Hvor ender plastemballagen?</h2>
    </div>
    <div class="center-wrapper">
      <img class="diagram" src="/assets/images/diagram2.png" alt="" />
    </div>
    <div class="center-wrapper">
      <h2>DU skal skrive under fordi:</h2>
    </div>
    <section>
      <img src="" alt="" />
    </section>
  </body>
</html>

<style>
  .pose1 {
    width: 97.186px;
    height: 125.778px;
    flex-shrink: 0;
  }
  p {
    padding-top: var(--spacing-vertical-xsmall);
    max-width: 60%;
    margin: auto;
  }

  h2 {
    padding-bottom: var(--spacing-vertical-large);
    text-align: center;
    max-width: 60%;
  }
  .center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .diagram {
    width: 40%;
  }
</style>
