<div>
  <img class="baggrund" src="/assets/images/footer.png" alt="" />
  <section class="footer">
    <div class="grid">
      <div class="boks_1">
        <svg xmlns="http://www.w3.org/2000/svg
  " width="150" height="50" viewBox="0 0 150 50" fill="none">
          <g clip-path="url(#clip0_680_13)">
            <path d="M149.627 0H0V50H149.627V0Z" fill="#FF1054"></path>
            <path
              d="M97.53 31.214C98.1826 31.2384 98.833 31.1239 99.438 30.878C99.9996 30.592 100.487 30.1786 100.86 29.671H100.932L101.462 31.035H103.373V24.348C103.411 23.8495 103.334 23.3488 103.147 22.885C102.96 22.4212 102.669 22.0068 102.296 21.674C101.396 21.0307 100.3 20.7197 99.196 20.794C97.8607 20.7774 96.5418 21.0888 95.355 21.701L96.261 23.55C97.1429 23.1147 98.1055 22.8672 99.088 22.823C99.2973 22.7904 99.5114 22.8071 99.7131 22.8716C99.9149 22.9362 100.099 23.0468 100.25 23.1948C100.402 23.3428 100.517 23.524 100.586 23.7242C100.656 23.9244 100.678 24.1379 100.65 24.348V24.788L98.909 24.842C97.7302 24.8097 96.565 25.0998 95.539 25.681C95.1651 25.9437 94.8655 26.2988 94.6696 26.7117C94.4737 27.1246 94.388 27.5812 94.421 28.037C94.3933 28.4648 94.4526 28.8939 94.5954 29.2982C94.7383 29.7024 94.9616 30.0735 95.252 30.389C95.5562 30.6733 95.915 30.893 96.3065 31.0348C96.698 31.1766 97.1142 31.2375 97.53 31.214ZM97.818 26.852C98.36 26.5491 98.9745 26.4004 99.595 26.422L100.654 26.386V27.211C100.666 27.4797 100.622 27.7481 100.524 27.9986C100.425 28.249 100.276 28.4761 100.084 28.665C99.8791 28.8524 99.6391 28.9973 99.3779 29.0914C99.1166 29.1855 98.8393 29.2268 98.562 29.213C97.6773 29.213 97.2347 28.827 97.234 28.055C97.219 27.8211 97.2649 27.5873 97.3673 27.3764C97.4696 27.1656 97.6249 26.9849 97.818 26.852Z"
              fill="white"></path>
            <path
              d="M107.962 26.314C107.893 25.435 108.07 24.5543 108.473 23.77C108.659 23.5089 108.91 23.3008 109.201 23.1661C109.492 23.0314 109.813 22.9749 110.133 23.002C110.367 22.982 110.602 23.0213 110.817 23.1162C111.032 23.2111 111.22 23.3585 111.363 23.545C111.653 24.0365 111.788 24.6045 111.748 25.174V31.035H114.486V24.492C114.554 23.4973 114.228 22.5157 113.579 21.759C113.226 21.4259 112.807 21.1698 112.35 21.0068C111.892 20.8438 111.406 20.7774 110.922 20.812C110.293 20.8008 109.67 20.9282 109.096 21.185C108.576 21.4193 108.138 21.802 107.835 22.285H107.683L107.315 21H105.224V31.035H107.962V26.314Z"
              fill="white"></path>
            <path
              d="M116.064 34.719C117.041 35.2661 118.155 35.5202 119.272 35.451C120.741 35.5399 122.205 35.2031 123.487 34.481C123.95 34.1956 124.329 33.7931 124.587 33.3141C124.845 32.8351 124.971 32.2966 124.954 31.753C124.98 31.3627 124.916 30.9716 124.765 30.6103C124.615 30.2491 124.383 29.9276 124.088 29.671C123.356 29.1508 122.466 28.9 121.57 28.961H119.87C118.864 28.961 118.361 28.7637 118.362 28.369C118.37 28.2244 118.412 28.0838 118.485 27.9589C118.559 27.834 118.661 27.7284 118.783 27.651L119.183 27.696L119.676 27.723C120.791 27.7898 121.895 27.4721 122.804 26.823C123.177 26.5216 123.473 26.1365 123.669 25.699C123.865 25.2614 123.955 24.7838 123.931 24.305C123.937 23.7721 123.787 23.249 123.5 22.8L125.071 22.4V21H121.571C121.463 20.976 121.216 20.9383 120.831 20.887C120.5 20.8407 120.166 20.8154 119.831 20.811C118.739 20.74 117.658 21.0589 116.779 21.711C116.419 22.025 116.136 22.4171 115.951 22.8573C115.766 23.2976 115.684 23.7742 115.711 24.251C115.696 24.8748 115.856 25.4903 116.172 26.028C116.464 26.5158 116.902 26.899 117.425 27.123C117.067 27.3198 116.742 27.5727 116.464 27.872C116.253 28.1278 116.136 28.4482 116.133 28.7798C116.13 29.1114 116.24 29.4341 116.446 29.694C116.636 29.9505 116.89 30.1531 117.182 30.282C116.554 30.4003 115.977 30.7037 115.523 31.153C115.143 31.5648 114.94 32.1091 114.957 32.669C114.945 33.0779 115.04 33.4829 115.235 33.8429C115.429 34.2029 115.715 34.5051 116.064 34.719ZM119.83 22.473C120.822 22.473 121.318 23.077 121.319 24.285C121.344 24.7437 121.218 25.1979 120.96 25.578C120.824 25.7424 120.65 25.8715 120.453 25.9542C120.257 26.0369 120.043 26.0708 119.83 26.053C119.617 26.0694 119.402 26.0349 119.205 25.9523C119.007 25.8698 118.832 25.7415 118.694 25.578C118.427 25.2015 118.296 24.7457 118.322 24.285C118.322 23.077 118.825 22.473 119.83 22.473ZM117.83 31.515C118.203 31.2683 118.644 31.1442 119.091 31.16H120.51C121.027 31.1333 121.545 31.2067 122.035 31.376C122.19 31.4368 122.321 31.5453 122.41 31.6857C122.499 31.8262 122.54 31.9912 122.529 32.157C122.515 32.4028 122.429 32.6389 122.28 32.8349C122.131 33.0309 121.927 33.1779 121.694 33.257C120.964 33.5575 120.176 33.694 119.387 33.657C118.861 33.6852 118.336 33.5741 117.866 33.335C117.702 33.2518 117.564 33.1246 117.468 32.9676C117.372 32.8106 117.322 32.63 117.323 32.446C117.322 32.2604 117.368 32.0775 117.457 31.9147C117.546 31.7518 117.675 31.6143 117.832 31.515H117.83Z"
              fill="white"></path><path
              d="M86.714 26.314C86.6483 25.4394 86.8251 24.5636 87.225 23.783C87.4087 23.5184 87.6588 23.3067 87.9502 23.1693C88.2416 23.0319 88.5639 22.9735 88.885 23C89.9617 23 90.5 23.7246 90.5 25.174V31.035H93.238V24.492C93.3044 23.4974 92.9752 22.5169 92.322 21.764C91.9643 21.429 91.5413 21.1715 91.0794 21.0076C90.6176 20.8438 90.1268 20.7772 89.638 20.812C89.0655 20.7714 88.4927 20.8868 87.9806 21.146C87.4685 21.4053 87.0363 21.7985 86.73 22.284H86.587L86.65 21.476C86.691 20.657 86.713 20.136 86.713 19.915V17.069H83.976V31.035H86.714V26.314Z"
              fill="white"></path>
            <path
              d="M78.6 31.214C79.1742 31.225 79.7479 31.171 80.31 31.053C80.7862 30.9343 81.2394 30.7373 81.651 30.47V28.127C81.2361 28.4097 80.7828 28.6316 80.305 28.786C79.8311 28.9316 79.3377 29.0037 78.842 29C77.418 29 76.7057 28.0183 76.705 26.055C76.705 24.0336 77.4173 23.0226 78.842 23.022C79.2191 23.0227 79.5941 23.0786 79.955 23.188C80.3257 23.2986 80.7257 23.441 81.155 23.615L81.964 21.496C80.9895 21.0299 79.9201 20.7964 78.84 20.814C78.1704 20.77 77.499 20.8676 76.8696 21.1004C76.2402 21.3331 75.6669 21.6959 75.187 22.165C74.272 23.2537 73.8152 24.6551 73.913 26.074C73.9143 29.5006 75.4767 31.214 78.6 31.214Z"
              fill="white"></path>
            <path
              d="M130.3 31.214C130.968 31.2249 131.636 31.1662 132.292 31.039C132.824 30.9269 133.339 30.7474 133.826 30.505V28.387C133.286 28.6459 132.721 28.847 132.139 28.987C131.577 29.1157 131.002 29.1791 130.425 29.176C130.094 29.1962 129.763 29.1485 129.451 29.0358C129.139 28.9232 128.854 28.748 128.612 28.521C128.157 28.0245 127.91 27.3723 127.922 26.699H134.392V25.372C134.427 24.7633 134.34 24.1537 134.137 23.5788C133.934 23.004 133.618 22.4754 133.208 22.024C132.769 21.6055 132.248 21.282 131.678 21.0735C131.108 20.8649 130.502 20.776 129.896 20.812C129.25 20.7767 128.604 20.8816 128.002 21.1194C127.4 21.3573 126.856 21.7225 126.409 22.19C125.508 23.2824 125.057 24.677 125.148 26.09C125.104 26.781 125.203 27.4736 125.437 28.125C125.672 28.7764 126.038 29.3727 126.512 29.877C127.023 30.341 127.621 30.6982 128.271 30.9278C128.922 31.1574 129.611 31.2547 130.3 31.214ZM128.549 23.314C128.722 23.1278 128.934 22.9819 129.17 22.8865C129.405 22.7912 129.659 22.7487 129.913 22.762C130.17 22.75 130.426 22.7931 130.664 22.8883C130.903 22.9835 131.118 23.1287 131.296 23.314C131.661 23.7518 131.85 24.3103 131.825 24.88H127.98C127.988 24.3089 128.187 23.7569 128.545 23.312L128.549 23.314Z"
              fill="white"></path>
            <path d="M59.364 21.001H56.626V31.035H59.364V21.001Z" fill="white"></path><path
              d="M66.31 31.214C66.8839 31.2252 67.4573 31.1712 68.019 31.053C68.4956 30.9345 68.9491 30.7375 69.361 30.47V28.127C68.9461 28.4098 68.4928 28.6317 68.015 28.786C67.5411 28.9316 67.0477 29.0038 66.552 29C65.1267 29 64.4143 28.0184 64.415 26.055C64.415 24.0337 65.1273 23.0227 66.552 23.022C66.9291 23.0229 67.3041 23.0788 67.665 23.188C68.035 23.2987 68.435 23.441 68.865 23.615L69.673 21.496C68.6988 21.0301 67.6298 20.7966 66.55 20.814C65.881 20.7702 65.2103 20.8677 64.5814 21.1001C63.9526 21.3325 63.3797 21.6947 62.9 22.163C61.9842 23.2514 61.5271 24.653 61.625 26.072C61.6243 29.5 63.186 31.214 66.31 31.214Z"
              fill="white"></path>
            <path d="M28.011 17.069H25.273V31.034H28.011V17.069Z" fill="white"></path>
            <path
              d="M33.324 31.214C33.9763 31.2386 34.6264 31.124 35.231 30.878C35.7926 30.592 36.2796 30.1786 36.653 29.671H36.725L37.255 31.035H39.167V24.348C39.2051 23.8494 39.1277 23.3487 38.9407 22.8849C38.7538 22.4211 38.4623 22.0067 38.089 21.674C37.1901 21.0316 36.0964 20.7207 34.994 20.794C33.6584 20.7775 32.3392 21.089 31.152 21.701L32.058 23.55C32.9403 23.1148 33.9032 22.8673 34.886 22.823C35.0952 22.7906 35.3092 22.8074 35.5108 22.872C35.7124 22.9366 35.8963 23.0473 36.0477 23.1953C36.1992 23.3432 36.3141 23.5244 36.3834 23.7245C36.4527 23.9246 36.4745 24.138 36.447 24.348V24.788L34.706 24.842C33.5273 24.8099 32.3621 25.0999 31.336 25.681C30.9624 25.944 30.6632 26.2991 30.4674 26.712C30.2717 27.1248 30.1861 27.5813 30.219 28.037C30.1911 28.4648 30.2503 28.8938 30.393 29.298C30.5356 29.7023 30.7588 30.0734 31.049 30.389C31.353 30.6728 31.7112 30.8922 32.1022 31.034C32.4931 31.1758 32.9088 31.237 33.324 31.214ZM33.611 26.852C34.153 26.5491 34.7675 26.4004 35.388 26.422L36.447 26.386V27.211C36.4593 27.4797 36.415 27.748 36.317 27.9984C36.219 28.2489 36.0694 28.476 35.878 28.665C35.6731 28.8524 35.4331 28.9974 35.1719 29.0914C34.9106 29.1855 34.6333 29.2268 34.356 29.213C33.47 29.213 33.0273 28.827 33.028 28.055C33.0129 27.8212 33.0586 27.5874 33.1608 27.3766C33.263 27.1657 33.4181 26.985 33.611 26.852Z"
              fill="white"></path>
            <path
              d="M17.346 31.385C17.346 31.2516 17.2983 30.767 17.203 29.931H17.346C17.672 30.3509 18.0939 30.6866 18.5764 30.9098C19.0589 31.1331 19.5879 31.2374 20.119 31.214C20.8498 31.2306 21.5669 31.0138 22.166 30.595C22.7791 30.1387 23.2452 29.513 23.507 28.795C23.8403 27.9017 24.0004 26.9531 23.979 26C24.057 24.6538 23.7047 23.3177 22.973 22.185C22.6602 21.7427 22.2419 21.3854 21.7561 21.1457C21.2703 20.9059 20.7323 20.7912 20.191 20.812C19.627 20.7841 19.0658 20.9076 18.5656 21.1696C18.0654 21.4316 17.6443 21.8225 17.346 22.302H17.22L16.834 21H14.609V35.45H17.346V31.385ZM17.346 25.685C17.2964 24.9652 17.4651 24.2473 17.83 23.625C18.0079 23.4087 18.2355 23.2389 18.4935 23.13C18.7515 23.0211 19.032 22.9765 19.311 23C19.5932 22.9816 19.875 23.0408 20.1258 23.1713C20.3767 23.3017 20.587 23.4984 20.734 23.74C21.0797 24.4272 21.2364 25.1941 21.188 25.962C21.188 27.9873 20.5743 29 19.347 29C19.0548 29.023 18.7615 28.9707 18.4953 28.8482C18.229 28.7256 17.9986 28.5369 17.826 28.3C17.4491 27.5893 17.2826 26.7859 17.346 25.984V25.685Z"
              fill="white"></path>
            <path
              d="M58 19.753C58.404 19.784 58.8042 19.6566 59.116 19.398C59.2441 19.2681 59.3433 19.1128 59.4074 18.942C59.4715 18.7713 59.499 18.589 59.488 18.407C59.488 17.5156 58.992 17.0696 58 17.069C57.008 17.0683 56.511 17.5143 56.509 18.407C56.509 19.3036
          57.006 19.7523 58 19.753Z"
              fill="white"></path>
            <path
              d="M49.483 27.894C49.4146 28.7882 49.6816 29.6759 50.232 30.384C50.5487 30.6843 50.9258 30.9136 51.338 31.0567C51.7503 31.1998 52.1884 31.2534 52.623 31.214C53.4835 31.2396 54.3398 31.0835 55.136 30.756V28.719C54.5805 28.909 53.9998 29.0152 53.413 29.034C53.1003 29.0494 52.7928 28.9502 52.548 28.755C52.4324 28.6452 52.3428 28.5108 52.2861 28.3618C52.2293 28.2128 52.2067 28.0529 52.22 27.894V23.056H55.029V21H52.22V18.864H50.469L49.68 20.983L48.172 21.898V23.056H49.483V27.894Z"
              fill="white"></path>
            <path
              d="M41.443 25.874C41.9717 26.2408 42.5425 26.5429 43.143 26.774C43.681 27.002 44.1117 27.202 44.435 27.374C44.6834 27.4932 44.9131 27.6478 45.117 27.833C45.184 27.9023 45.2363 27.9845 45.2707 28.0745C45.3051 28.1646 45.3208 28.2607 45.317 28.357C45.317 28.9317 44.8207 29.219 43.828 29.219C43.2589 29.2072 42.6934 29.126 42.144 28.977C41.5535 28.8323 40.9782 28.6314 40.426 28.377V30.639C40.8902 30.8358 41.3744 30.9817 41.87 31.074C42.4864 31.1813 43.1114 31.2308 43.737 31.222C44.8657 31.302 45.9904 31.0193 46.947 30.415C47.3036 30.1399 47.5877 29.7818 47.7745 29.3719C47.9613 28.962 48.0453 28.5127 48.019 28.063C48.0304 27.6208 47.9411 27.1817 47.758 26.779C47.5693 26.4018 47.2925 26.0756 46.951 25.828C46.4149 25.463 45.8363 25.1648 45.228 24.94C44.6351 24.7253 44.0628 24.4575 43.518 24.14C43.404 24.0759 43.3083 23.9837 43.2399 23.8722C43.1715 23.7608 43.1326 23.6337 43.127 23.503C43.127 23.0664 43.531 22.848 44.339 22.848C44.7926 22.8481 45.2435 22.9176 45.676 23.054C46.1542 23.2071 46.6245 23.384 47.085 23.584L47.91 21.6C46.8061 21.0824 45.6022 20.8127 44.383 20.81C43.3512 20.7475 42.325 21.003 41.443 21.542C41.1089 21.7706 40.8385 22.0805 40.6573 22.4425C40.476 22.8044 40.3899 23.2066 40.407 23.611C40.3935 24.0616 40.4774 24.5098 40.653 24.925C40.8339 25.3018 41.1053 25.6278 41.443 25.874Z"
              fill="white"></path>
          </g>
          <defs>
            <clipPath id="clip0_680_13">
              <rect width="149.627" height="50" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
        <p>Mail: info@plasticchange.org</p>
        <p>Tlf: +45 42 66 72 46</p>
        <p>Åbningstider: 10:00 - 15:00</p>
        <p>Telefontid: Mandag - Fredag</p>
      </div>
      <div class="boks_2">
        <p>Generelt</p>
        <p>Støt nu</p>
        <p>Hvad kan du gøre?</p>
        <p>Viden</p>
        <p>Webshop</p>
      </div>

      <div class="logo_grid">
        <a href="https://www.youtube.com/@plasticchange5159
  ">
          <svg xmlns="http://www.w3.org/2000/svg
  " width="38" height="27" viewBox="0 0 38 27" fill="none">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M15.2104 9.2996C15.2104 8.76074 15.7937 8.42395 16.2604 8.69338L23.8582 13.08C24.3248 13.3494 24.3248 14.023 23.8582 14.2924L16.2604 18.679C15.7937 18.9484 15.2104 18.6117 15.2104 18.0728V9.2996ZM21.9082 13.6862L16.7104 16.6872V10.6852L21.9082 13.6862Z"
              fill="#FF1054"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M32.5187 26.1842C35.1387 25.9566 37.2675 23.9698 37.563 21.3566C37.8492 18.8255 38 16.1967 38 13.5C38 10.8032 37.8492 8.17444 37.563 5.64335C37.2675 3.03012 35.1387 1.04334 32.5187 0.815683C28.2414 0.444027 23.7024 0.244141 19 0.244141C14.2975 0.244141 9.75854 0.444022 5.48133 0.815672C2.86131 1.04333 0.732485 3.03011 0.436996 5.64334C0.150795 8.17443 0 10.8032 0 13.5C0 16.1967 0.150794 18.8255 0.436995 21.3566C0.732485 23.9698 2.86131 25.9566 5.48133 26.1842C9.75854 26.5559 14.2975 26.7558 19 26.7558C23.7024 26.7558 28.2414 26.5559 32.5187 26.1842ZM36 13.5C36 16.1224 35.8533 18.6762 35.5757 21.1318C35.392 22.7561 34.061 24.0427 32.3456 24.1917C28.1276 24.5582 23.6463 24.7558 19 24.7558C14.3536 24.7558 9.87239 24.5582 5.65445 24.1917C3.93897 24.0427 2.60799 22.7561 2.42433 21.1318C2.14666 18.6762 2 16.1224 2 13.5C2 10.8775 2.14666 8.32375 2.42433 5.86806C2.60799 4.24382 3.93897 2.95722 5.65445 2.80816C9.87239 2.44166 14.3536 2.24414 19 2.24414C23.6463 2.24414 28.1276 2.44167 32.3456 2.80817C34.061 2.95724 35.392 4.24383 35.5757 5.86807C35.8533 8.32375 36 10.8775 36 13.5Z"
              fill="#FF1054"></path>
          </svg>
        </a>
        <a href="https://www.instagram.com/plasticchange/
">
          <svg xmlns="http://www.w3.org/2000/svg
" width="32" height="33" viewBox="0 0 32 33" fill="none">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M16 23.5C19.866 23.5 23 20.366 23 16.5C23 12.634 19.866 9.5 16 9.5C12.134 9.5 9 12.634 9 16.5C9 20.366 12.134 23.5 16 23.5ZM16 21.5C18.7614 21.5 21 19.2614 21 16.5C21 13.7386 18.7614 11.5 16 11.5C13.2386 11.5 11 13.7386 11 16.5C11 19.2614 13.2386 21.5 16 21.5Z"
              fill="#FF1054"></path>
            <path d="M25 9.5C25.5523 9.5 26 9.05229 26 8.5C26 7.94772 25.5523 7.5 25 7.5C24.4477 7.5 24 7.94772 24 8.5C24 9.05229 24.4477 9.5 25 9.5Z" fill="#FF1054"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9 0.5C4.02944 0.5 0 4.52944 0 9.5V23.5C0 28.4706 4.02944 32.5 9 32.5H23C27.9706 32.5 32 28.4706 32 23.5V9.5C32 4.52944 27.9706 0.5 23 0.5H9ZM23 2.5H9C5.13401 2.5 2 5.63401 2 9.5V23.5C2 27.366 5.13401 30.5 9 30.5H23C26.866 30.5 30 27.366 30 23.5V9.5C30 5.63401 26.866 2.5 23 2.5Z"
              fill="#FF1054"></path>
          </svg>
        </a>

        <a href="https://www.facebook.com/plasticchange
">
          <svg xmlns="http://www.w3.org/2000/svg
" width="35" height="35" viewBox="0 0 35 35" fill="none">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M35 17.5C35 27.165 27.165 35 17.5 35C7.83502 35 0 27.165 0 17.5C0 7.83502 7.83502 0 17.5 0C27.165 0 35 7.83502 35 17.5ZM15.4446 32.9658V25.7111H11.5864C11.5312 25.7111 11.4864 25.6663 11.4864 25.6111V20.6146C11.4864 20.5594 11.5312 20.5146 11.5864 20.5146H15.4446V17.7616C15.4446 13.2711 20.0022 11.6829 22.0308 11.6829H24.9502C25.0054 11.6829 25.0502 11.7276 25.0502 11.7829V16.2432C25.0502 16.2985 25.0054 16.3432 24.9502 16.3432H23.132C22.3821 16.3432 20.6045 17.0362 20.6045 18.3708V20.5146H24.9498C25.0097 20.5146 25.0561 20.5668 25.0492 20.6262L24.4647 25.6227C24.4588 25.6731 24.4161 25.7111 24.3654 25.7111H20.6045V32.7911C27.7328 31.3517 33.1 25.0526 33.1 17.5C33.1 8.88436 26.1156 1.9 17.5 1.9C8.88436 1.9 1.9 8.88436 1.9 17.5C1.9 25.4189 7.8004 31.9597 15.4446 32.9658ZM17.0446 32.9434V24.1111H13.0864V22.1146H17.0446V17.7616C17.0446 16.1524 17.8261 15.0842 18.8839 14.3564C20.0044 13.5855 21.3335 13.2829 22.0308 13.2829H23.4502V14.7432C22.48 14.7432 21.5608 14.9804 20.7323 15.504C19.9816 15.9783 19.0045 16.9118 19.0045 18.3708V22.1146H23.2641L23.0306 24.1111H19.0045V32.9434H17.0446Z"
              fill="#FF1054"></path>
          </svg>
        </a>
        <a href="https://twitter.com/PlasticChange/status/1471049353959718916
">
          <svg xmlns="http://www.w3.org/2000/svg
" width="36" height="31" viewBox="0 0 36 31" fill="none">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M24.6493 0.928955C20.9735 0.928951 18.757 2.85214 17.7341 5.148C17.0929 6.58706 16.8627 8.25506 17.1715 9.80754C11.3116 9.19033 6.11441 6.99058 2.62886 2.40033C2.36859 2.05757 1.81542 2.15289 1.71884 2.57228C0.928845 6.00258 0.816273 9.61475 4.21266 12.2292C3.43659 12.0644 2.50755 11.6675 1.62213 11.2893C1.41354 11.2002 1.20736 11.1121 1.00618 11.0283C0.619265 10.8672 0.252935 11.2368 0.416965 11.6224C1.81065 14.8994 3.86462 17.0243 7.15583 18.5488C6.08158 18.8579 4.62965 18.8988 3.20094 18.7685C2.79518 18.7315 2.51644 19.1464 2.77239 19.4634C4.19466 21.225 7.20727 23.037 10.1044 23.4449C7.05253 25.1153 3.84996 26.0218 0.443875 26.4527C-0.0260712 26.5121 -0.170132 27.1186 0.243667 27.3492C6.69509 30.9437 15.4451 31.0693 21.797 27.1805C26.6221 24.2264 29.5502 19.3884 31.0979 14.7452C31.567 13.3379 31.989 11.1062 31.8964 8.84434C31.89 8.68661 31.9552 8.53408 32.0757 8.43208C32.8936 7.73966 35.6874 5.34771 35.8655 4.83228C35.8809 4.78765 35.8546 4.74255 35.8084 4.73262C35.5524 4.6776 34.6761 4.97342 33.659 5.25363C32.7954 5.49154 31.9271 5.65942 31.7104 5.69882C32.9642 4.30409 34.6548 2.88393 34.3078 2.35468C34.2864 2.32212 34.2548 2.2974 34.2163 2.29109C33.8103 2.22445 32.0021 2.89807 30.5419 3.33577C30.3449 3.39481 30.1344 3.32238 30.0013 3.16562C29.8521 2.98989 29.6921 2.8211 29.5207 2.66036C28.3502 1.56306 26.7391 0.928958 24.6493 0.928955ZM3.08789 6.19658C7.57235 10.3281 13.6742 11.5641 19.5705 11.975C19.9774 12.0033 20.2392 11.5551 20.0366 11.2012C19.0919 9.55069 18.6523 8.00122 19.5609 5.96197C20.2834 4.34047 21.8134 2.92895 24.6493 2.92896C26.3094 2.92896 27.4066 3.41986 28.1528 4.11943C28.9174 4.83625 29.4078 5.86137 29.672 7.07857C30.2066 9.54132 29.7455 12.4779 29.2006 14.1127C27.7483 18.4695 25.052 22.8427 20.7527 25.4748C17.2022 27.6486 12.4503 28.701 6.18017 27.4469C9.69366 26.5438 13.3118 24.6086 15.5838 22.3345C15.9381 21.9798 15.5452 21.4162 15.0538 21.5161C12.5461 22.0255 9.62691 21.6437 7.15583 20.3027C8.82469 20.1292 10.3744 19.8517 11.8926 19.3717C12.4043 19.2099 12.2787 18.4341 11.7515 18.3332C9.08051 17.8223 6.3872 16.3835 3.68507 13.8067C5.22947 14.3439 7.6471 14.7083 9.88671 14.4431C10.3968 14.3827 10.3956 13.7234 9.90766 13.563C6.54566 12.4571 3.19246 10.133 3.08789 6.19658Z"
              fill="#FF1054"></path>
          </svg>
        </a>
      </div>
    </div>
  </section>
</div>
<style>
  .footer {
    background: var(--color-background-footer-footer);
    padding-left: var(--spacing-vertical-xxlarge);
    padding-right: var(--spacing-vertical-xxlarge);
    padding-top: var(--spacing-xxlarge);
    padding-bottom: var(--spacing-vertical-xxlarge);
  }

  .baggrund {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  p {
    color: var(--color-text-footer-footer);
    font-size: small;
  }

  .boks_1 {
    justify-content: space-between;
    display: flex;
    padding: var(--spacing-small, 29px) 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-small, 29px);
  }

  .boks_2 {
    justify-content: space-between;
    display: flex;
    padding: var(--spacing-small, 29px) 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-small, 29px);
  }

  .logo_grid {
    display: flex;
    margin-top: var(--spacing-space-medium);
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 29px var(--spacing-small, 29px);
    flex-wrap: wrap;
  }

  .logo_grid img {
    max-width: 60px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: var(--spacing-space-medium);
  }

  .img {
    width: 1450px;
    height: auto;
  }
</style>
