---
import Headingbutton from "./Headingbutton.astro";
---

<div id="mainmenu">
  <div class="logo">
    <a href="/"> <img class="logo_img" src="/assets/images/logo.png" alt="plastic change logo" /></a>
  </div>

  <div id="burger-menu">
    <span></span>
  </div>
  <nav id="menu">
    <a href="/infosite">Læs mere</a>
    <a href="/about">om os</a>
    <Headingbutton text="støt nu" />
  </nav>
</div>

<script src="../scripts/burger.js"></script>

<style>
  #mainmenu {
    display: flex;
    position: fixed;
    z-index: 1000;
    background-color: transparent;
    justify-content: space-between;
    padding: var(--spacing-xxsmall);
  }

  .logo img {
    width: 20%;
  }

  #menu {
    display: flex;
    text-wrap: nowrap;
    flex-wrap: nowrap;
    align-items: center;
    gap: var(--spacing-gap-gap);
  }

  a {
    text-decoration: none;
    color: var(--color-text-linkbutton-default);
  }

  a:hover {
    color: var(--color-text-linkbutton-hover);
  }

  @media (max-width: 600px) {
    .logo {
      width: 100%;
      z-index: 3;
    }

    .logo img {
      width: 1000%;
    }
    #menu {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      gap: var(--spacing-gap-gap);
    }

    #mainmenu {
      display: grid;
    }
    #mainmenu > * {
      grid-column: 1;
      grid-row: 1;
    }
    .logo {
      width: 5%;
      padding: 7px;
      z-index: 3;
    }
    #burger-menu {
      border: none;
      cursor: pointer;
      z-index: 2;
    }

    #burger-menu span,
    #burger-menu span:before,
    #burger-menu span:after {
      background: var(--color-red-300);
      display: block;
      height: 4px;
      opacity: 1;
      position: absolute;
      transition: 0.3s ease-in-out;
      content: "";
    }
    #burger-menu span:before {
      left: 0px;
      top: -10px;
      width: 55px;
    }
    #burger-menu span {
      right: 0px;
      top: 13px;
      width: 55px;
    }
    #burger-menu span:after {
      left: 0px;
      top: 10px;
      width: 55px;
    }
    #burger-menu.close span:before {
      top: 0px;
      transform: rotate(65deg);
      width: 65px;
      background: var(--color-red-300);
    }
    #burger-menu.close span {
      transform: rotate(-32deg);
      top: 13px;
      width: 65px;
      background: var(--color-red-300);
    }
    #burger-menu.close span:after {
      top: 0px;
      left: 0;
      transform: rotate(65deg);
      opacity: 0;
      width: 0;
      background: var(--color-red-300);
    }
    #menu {
      z-index: 1;
      min-width: 100%;
      min-height: 100%;
      position: fixed;
      top: 0;
      height: 0;
      visibility: hidden;
      opacity: 0;
      text-align: left;
      padding-top: 20px;
      padding-left: 100px;
      transition: all 0.3s ease-in-out;
    }
    #menu.overlay {
      visibility: visible;
      opacity: 1;
      padding-top: 100px;
      background: var(--color-background-body-body);
    }
    .logo.overlay {
      visibility: visible;
      opacity: 1;
    }

    #menu a {
      list-style: none;
      display: initial;
    }
  }
</style>
