---
import Form from "../components/Form.astro";
import Header from "./Header.astro";
---

<section>
  <Header />
  <div>
    <img class="billede" src="/assets/images/indexbillede.webp" alt="" />
    <div class="grid-container">
      <div class="tekst">
        <p>KAMPAGNE</p>
        <h2>Skriv under og vær med i kampen for en global plastiktraktat</h2>
      </div>
      <div class="form">
        <Form />
      </div>
    </div>
  </div>
</section>

<style>
  .billede {
    height: 887px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: flex;
    width: 100%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    transform: translate(10%, -180%);
  }

  .tekst {
    grid-column: 1;
    grid-row: 1;
  }
  .form {
    grid-column: 2;
    grid-row: 1;
  }
</style>
