---
import Form from "../components/Form.astro";
import Header from "./Header.astro";
---

<Header />

<img class="billede" src="/assets/images/indexbillede.webp" alt="" />
<div class="grid-container">
  <div class="tekst">
    <p>KAMPAGNE</p>
    <h1>Skriv under og vær med i kampen for en global plastiktraktat</h1>
  </div>
  <div class="form">
    <Form />
  </div>
</div>

<style>
  .tekst p {
    margin: 0;
    color: var(--color-gray-50);
  }
  /*web*/
  @media (min-width: 700px) {
    .grid-container {
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      padding: 15px;
      text-align: center;
      gap: var(--spacing-gap-gap);
    }

    .tekst {
      flex: 2;
      padding-inline-start: var(--spacing-vertical-large);
      text-align: left;
      padding-top: 8%;
      max-width: 60%;
    }

    .form {
      flex: 1;
    }

    .billede {
      width: 110%;
      height: auto;
    }
  }

  /*mobile*/
  @media (max-width: 700px) {
    .herounit {
      height: 853px;
    }
    .billede {
      width: 100%;
      height: 853px;
      object-fit: cover;
    }
    .tekst {
      text-align: left;
      margin-left: var(--spacing-large);
    }

    .grid-container {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      padding: 15px;
      text-align: center;
    }

    .tekst {
      text-align: left;
      margin-right: var(--spacing-xxlarge);
      position: absolute;
      top: 50%;
      left: 30%;
      transform: translate(-50%, -291%);
      z-index: 2;
    }

    .form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -115%);
      z-index: 2;
    }
  }
</style>
