---
import Header from "./Header.astro";
---

<Header />

<div class="hero-image">
  <img class="billede" src="/assets/images/herobillede_about.webp" alt="" />
  <div class="hero-text">
    <h1>Om Plastic Change</h1>
    <p>Plastic Change er en dansk miljøorganisation,</p>
    <p>der kæmper for en verden</p>
    <p>uden plastikforurening.</p>
  </div>
</div>

<style>
  .hero-image {
    position: relative;
    overflow: hidden; /* For at sikre, at .hero-text ikke overskrider billedet */
  }

  p {
    color: var(--color-gray-20);
  }

  .billede {
    width: 100%;
    height: auto;
    opacity: 0.6;
  }

  .hero-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #fff;
    width: 50%;
    z-index: 1;
  }
</style>
