---
import Form from "../components/Form.astro";
import Header from "./Header.astro";
---

<Header />
<div class="herounit">
  <img class="billede" src="/assets/images/indexbillede.webp" alt="" />
  <div class="grid-container">
    <div class="tekst">
      <p>KAMPAGNE</p>
      <h2>Skriv under og vær med i kampen for en global plastiktraktat</h2>
    </div>
    <div class="form">
      <Form />
    </div>
  </div>
</div>

<style>
  .herounit {
    height: 887px;
  }
  .billede {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: flex;
    width: 100%;
  }

  .grid-container {
    display: grid;
    gap: var(--spacing-xxlarge);
    width: 100%;
    grid-template-columns: 1fr 1fr;
    transform: translate(10%, -180%);
  }

  .tekst {
    justify-self: center;
  }
  .form {
    justify-items: center;
  }
</style>
