---
import Header from "./Header.astro";
import Primarybutton from "./Primarybutton.astro";
---

<Header />

<div class="hero-image">
  <img class="billede" src="/assets/images/infohero.webp" alt="" />
  <div class="hero-text">
    <p>KAMPAGNE</p>
    <h1>Om plastikforurening og den globale plastiktraktat</h1>
    <Primarybutton href="/" text="Skriv under" />
  </div>
</div>

<style>
  .hero-image {
    position: relative;
    overflow: hidden;
  }

  h1 {
    animation: var(--animation-fade-in) forwards;
    max-width: 100%;
  }

  .billede {
    width: 100%;
    height: auto;
    opacity: 0.6;
  }

  p {
    color: var(--color-gray-50);
  }

  .hero-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 50%;
    z-index: 1;
  }

  .Primarybutton {
    display: block;
    margin-top: var(--spacing-xxsmall);
  }

  @media (max-width: 700px) {
    .billede {
      width: 100%;
      height: 564px;
      object-fit: cover;
    }

    .hero-text {
      top: 50%;
      left: 43%;
      transform: translate(-50%, -50%);
      text-align: left;
      width: 80%;
      z-index: 1;
    }
  }
</style>
