---
import Form from "../components/Form.astro";
import Header from "./Header.astro";
---

<Header />
<div class="herounit">
  <img class="billede" src="/assets/images/indexbillede.webp" alt="" />
  <div class="grid-container">
    <div class="tekst">
      <p>KAMPAGNE</p>
      <h2>Skriv under og vær med i kampen for en global plastiktraktat</h2>
    </div>
    <div class="form">
      <Form />
    </div>
  </div>
</div>

<style>
  .herounit {
    position: relative;
  }

  .grid-container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Juster bredden efter behov */
    padding: 15px; /* Tilføj et ekstra mellemrum inden for containeren */
    text-align: center; /* Centerjuster tekst inden for containeren */
  }

  .tekst {
    flex: 1; /* Gør .tekst flexibel, så den tager op så meget plads som muligt */
    text-align: left; /* Venstrejuster tekst inden for .tekst */
    margin-right: var(--spacing-xxlarge); /* Tilføj et mellemrum til højre af .tekst */
  }

  .tekst p {
    margin: 0;
  }

  .form {
    flex: 1; /* Gør .form flexibel, så den tager op så meget plads som muligt */
  }

  .billede {
    width: 100%; /* Sørg for, at billedet fylder hele bredden af .herounit */
    height: auto;
  }
</style>
