---
const { text } = Astro.props;
---

<button>
  <a>{text}</a>
</button>

<style>
  button {
    padding: var(--spacing-horisontal-button) var(--spacing-medium);
    border: none;
    border-radius: var(--spacing-small);
    background: var(--color-background-primarybutton-default);
    text-align: center;
  }
  button :hover {
    background: var(--color-background-primarybutton-hover, #fff);
  }
  a {
    color: var(--color-gray-50);
    font-family: "Campton-Bold";
  }
</style>
