---
const { href, text } = Astro.props;
---

<button class="primarybutton">
  <a href={href}>{text}</a>
</button>

<style>
  .primarybutton {
    padding-block: var(--spacing-horisontal-button);
    width: 18.75rem;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: var(--spacing-small);
    background-color: var(--color-background-primarybutton-default);
    display: block;
    margin-top: var(--spacing-vertical-xsmall);
    border: 3px solid var(----color-red-300);
  }

  .primarybutton a {
    text-decoration: none;
    color: var(--color-text-primarybutton-default);
  }

  .primarybutton:hover {
    background-color: var(--color-background-primarybutton-hover);
  }

  .primarybutton:hover a {
    color: var(--color-text-primarybutton-hover);
  }
</style>
