---
const { text } = Astro.props;
---

<button>
  <a>{text}</a>
</button>

<style>
  button {
    padding: var(--spacing-horisontal-button) var(--spacing-medium);
    border: none;
    border-radius: var(--spacing-small);
    background: var(--color-background-primarybutton-default);
    text-align: center;
    display: block;
    margin-top: var(--spacing-vertical-xsmall);
  }
  button :hover {
    background: var(--color-background-primarybutton-hover);
  }
  a {
    color: var(--color-text-linkbutton-default);
    font-family: "Campton-Bold";
  }
</style>
