---
const { href text } = Astro.props;
---

<div class="secondarybutton">
  <a href={href}>
    <p>{text}</p>
  </a>
</div>

<style>
  .secondarybutton {
    display: inline-flex;
    padding: var(--spacing-horisontal-button) var(--spacing-medium);
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: var(--spacing-small);
    border: 3px solid var(--color-gray-50);
  }
  .secondarybutton :hover {
    background-color: var(--color-background-primarybutton-default);
    border: none;
  }

  a {
    color: var(--color-text-secondarybutton-hover);
  }
  a:hover {
    color: var(--color-text-secondarybutton-default);
  }
</style>
